@import "../../styles/variables";

.board {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 64px - 2rem);
    background-color: $light-grey;
    padding: 1rem;

    &__post {
        min-height: 11rem;
        max-height: 11rem;
    }
}